body.exercicio {
  grid-template-rows: 120px 60px 1fr 60px;
  grid-template-areas: 
  "cabecalho" 
  "navegacao" 
  "principal" 
  "rodape"
}

.principal {
  height: calc(100vh - 240px);
}

.navegacao {
  grid-area: navegacao;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #555;
}

.navegacao > a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  background: #2196f3;
  padding: 5px 10px;
  margin-right: 10px;
}

.navegacao > a.verde { 
  background: #4CAF50;
}

.navegacao > a.vermelho {
  background: #F44336;
}

.conteudo {
  font-size: 1.5rem;
}

.conteudo .titulo {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}