* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas:
   "cabecalho" 
   "principal" 
   "rodape";
}

.cabecalho {
  grid-area: cabecalho;
  background: #1867c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 2px 2px 12px -2px rgba(0, 0, 0, 0.5)
}

.cabecalho > h1 {
  margin: 0px;
  font-weight: 900;
  font-size: 2.8rem;
  font-style: italic;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  color: #fff;

}
.cabecalho > h2 {
  margin: 0px;
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;

}

.principal {
  grid-area: principal;
  height: calc(100vh - 180px);
  background: #f0f0f0;
  padding: 20px;
}

.conteudo {
  position: relative;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2)
}

.rodape {
  grid-area: rodape;
  background: #fff;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  padding-right: 20px;
  color: #555;
}

.modulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modulo {
  flex-basis: 32%;
  margin-bottom: 20px;
  border-radius: 6px;
}

.modulo > h3 {
  margin: 0px;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 10px 20px;
  background: #1867c0;
}

.modulo > ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.modulo > ul > li {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.modulo > ul > li > a {
  display: flex;
  text-decoration: none;
  color: #222;
}

.modulo > ul > li:hover {
  background: #EEE;
}

.modulo.verde { border: 2px solid #4CAF50; }
.modulo.verde > h3 { background: #4CAF50; }

.modulo.vermelho { border: 2px solid #f44336; }
.modulo.vermelho > h3 { background: #f44336; }

.modulo.azul { border: 2px solid #2196f3; }
.modulo.azul > h3 { background: #2196f3; }

.modulo.roxo { border: 2px solid #9c27b0; }
.modulo.roxo > h3 { background: #9c27b0; }

.modulo.laranja { border: 2px solid #ff9800; }
.modulo.laranja > h3 { background: #ff9800; }

.modulo.verde-escuro { border: 2px solid #1b5420; }
.modulo.verde-escuro > h3 { background: #1b5420; }

.modulo.vermelho-escuro { border: 2px solid #b71c1c; }
.modulo.vermelho-escuro > h3 { background: #b71c1c; }

.modulo.azul-escuro { border: 2px solid #0d47a1; }
.modulo.azul-escuro > h3 { background: #0d47a1; }

.modulo.roxo-escuro { border: 2px solid #4a148c; }
.modulo.roxo-escuro > h3 { background: #4a148c; }
